* {
    font-family: Georgia, "Time New Roman", serif;
    color: black
}
  
  
.title{
    color: SeaGreen;
    text-align: center;
    font-weight: bold;
}

.languages{
    color: black;
    text-align: center;
    font-weight: lighter;
}

.project-title {
    font-weight: bold;
}