* {
    font-family: serif;
    font-weight: lighter;
    color: black;
}

.container {
    display: grid;
    position: relative;
    margin: 0 auto;
    grid-template-areas:"header header" 
                        "social social"
                        "nav nav" 
                        "left right" 
                        "footer footer";
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 90vh 10vh 10vh auto 20vh;
}
  
h1, h2 {
    font-family: monospace;
    text-align: center;
}
  
header {
    background-image: url(../waterfall.gif);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-area: header;
}
  
div .title{
    color: whitesmoke;
    text-align: center;
    font-weight: bold;
    border: white solid;
    position: relative;
    top: 45%;
    width: 20%;
    margin: 0 auto;
}

.languages{
    color: white;
    text-align: center;
    font-weight: lighter;
    position: relative;
    top: 46%;
    width: 50%;
    margin: 0 auto;
}

.social {
    justify-content: center;
    align-items: center;
    grid-area: social;
}

.social li{
    color: #FFF;
    margin: 0 100px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    border: #FFF solid;

    list-style: none;
    display: inline-block;
}

nav {
    background-color: beige;
    grid-area: nav;
}
  
.left {
    background-color: royalblue;
    color: white;
    grid-area: left;
}
  
.right {
    background-color: beige;
    grid-area: right;
}
  
footer {
    background-color: black;
    grid-area: footer;
    padding: 20px 40px;
}

footer p {
    color: #fff;
    font-size:12px;
    margin: 5px 20px;
    text-align: left;
}



/*
* {
    font-family:  serif;
    font-weight: lighter;
    color: black;
}

body, html {
    height: 100%;
    margin: 0;
}

.container {
    display: grid;
    position: relative;
    margin: 0 auto;
    grid-template-areas:"header header"
                        "social social"
                        "nav nav" 
                        "left right" 
                        "footer footer";
    grid-template-columns: 1fr 3fr;
  }

li {
    list-style: none;
}

.jumbotron {
    background-image: url(../waterfall.gif);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-area: header;
}





.navigation {
    display: flex;
    width: 100%;
    justify-content: center;
    grid-area: nav;
}

.navigation li {
    list-style: none;
    display: inline-flex;
    padding: 0 12px;
    justify-content: space-around;
    display: inline-block;
}

.project-title {
    font-weight: bold;
}

.project-box {
    padding: 5px; 
    border: solid red;
    width: 75%;
    grid-area: right;
}

.project-intro {
    font-weight: bold;
}

.project {
    padding: 5px; 
    border: solid red;
    display: inline-block;
    position: relative;
}

.maker {
    resize: 10%;
    display: inline-block;
    max-height: 250px;
    position: relative;
}

.monkey {
    resize: 10%;
    display: inline-block;
    max-height: 250px;
    position: relative;
}

.footer {
    padding: 20px 0px;
    background-color: #000;
    width: 100%;
    height: fit-content;
    grid-area: footer;
}



*/