* {
    font-family: serif;
    font-weight: lighter;
}

.container {
    display: grid;
    position: relative;
    margin: 0 0;
    grid-template-areas:"header header" 
                        "social social"
                        "nav nav" 
                        "left right" 
                        "footer footer";
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 85vh auto auto auto 20vh;
}
  
h1, h2 {
    text-align: center;
}
  
header {
    background-image: url(../waterfall.gif);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-area: header;
}
  
div .name{
    color: whitesmoke;
    text-align: center;
    font-weight: bold;
    border: white solid;
    position: relative;
    top: 45%;
    width: 20%;
    margin: 0 auto;
}

.languages{
    color: white;
    text-align: center;
    font-weight: lighter;
    position: relative;
    top: 46%;
    width: 50%;
    margin: 0 auto;
}

.social{
    grid-area: social;
}

.social ul {
    list-style: none;
    margin: 0 5;
    padding: 0 5;
    text-align: center;
}

.social li {
    display: inline;
    margin-right: 5vw;
         
}

.social li:last-child {
    border-left: 5vw;
} 

.social li img {
    padding: 15px;
    text-align: center;
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

nav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
    grid-area: nav;
}

nav li {
    padding: 0 12px;
    text-align: center;
    text-decoration: none;
    justify-content: space-around;
    

    list-style: none;
    display: inline-block;
    
    border-right: 1px solid #bbb;      
}

nav li:last-child {
    border-right: none;
}  

nav li a {
    color: lightgrey;
}

.info {
    background-color: #1d1d1d91;
    color: lightgrey;
    padding: 5px;
    grid-area: left;
}

.info p {
    padding: 0;
    margin: 0;
}
  
.projects {
    padding: 0 10px;
    background-color: #ffffff;
    grid-area: right;
}

.project-image {
    resize: 10%;
    display: inline-block;
    max-height: 250px; 
}

footer {
    background-color: black;
    grid-area: footer;
    padding: 20px 40px;
}

footer h2 {
    color: #fff;
    margin: 5px 20px;
    text-align: left;
}

footer p {
    color: #fff;
    font-size:12px;
    margin: 5px 20px;
    text-align: left;
}
